$backgroundColor: #03050e;
$principalTextColor: silver;
$secondaryTextColor: #f9f9f9;
$primaryButtonBackgroundColor: #0A66C2;
$secondaryButtonBackgroundColor: #0063e5;
$darkButtonBackgroundColor: #181717;
$footerBackgroundColor: #000000;